<h1><%= @book.bookname%></h1>

<%=form_for [@author, @book] do |f|%>

   

 <h3>Images:</h3>
   <%=f.fields_for :images_attributes do |i|%>
   <br>
         <div>
            <%=i.text_field :imagename, class:'form-control'%>
            </div>
            <td>
      <%end%>

            <div>
            <%=f.submit "Create", id: "btn", class:'btn btn-primary'%>
            </div>
<%end%>